body{
    font-family: 'Gluten', cursive;
    background-image: url('./images/imgDeFondo.jpg');
    
}
h3{
    color: #585b5d;
    display: flex;
    justify-items: center;
}

form{
    width: 60%;
   
}
.tablaEstudiantes{
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
    
    
}


@media screen and (max-width: 425px){
    form{
        width: 95% !important;
    }
}





